<div class="background" id="background">
	<div id = container>

		<div id=logo><%= image_tag("logo.jpg")%></div>

		<div id=menu class=menu>
		<a href="blahblah.com">New Report</a> |
		<a href="blahblah.com">Existing Report</a> |
		<a href="blahblah.com">Client List</a> |
		<%= link_to "Logout", destroy_user_session_path %>
		</div>
		<div id=search>
			Search: <input type=text> <input type=submit value=Submit>
		</div>
		<div id=stats>
			<b>Cross Site Scripting: <b><font color=#d23442>345</font></b><p>
			<b>Buffer Overflows: <b><font color=#d23442>450</font></b><p>
			<b>Remote File Inclusion: <b><font color=#d23442>5</font></b><p>
			
		</div>
			<div id=clear></div>
			<div id=appname><h1>Penetration Test Report Generator v1.0</h1></div>
	<div id=reports>
		Last 5 Reports<br>
		<div id=repitem1>Hess</div>
		<div id=repitem3>Chubb</div>
		<div id=repitem1>BATA</div>
		<div id=repitem3>Hess</div>
		<div id=repitem1>Chubb</div>

		
	</div>
	</div>
	
</div>

</html>

